---

import Header from '../components/Header.astro';
import'../styles/global.css';
const pageTitle = "关于我";


const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="zh">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/ocean.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;700&display=swap" rel="stylesheet" />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor,fontWeight,textCase}}>
            h1 {
              color: purple;
              font-size: 4rem;
            }
            .skill {
              color: var(--skillColor);
              font-weight: bold;
              text-transform: :var(--textCase);
            }
          </style>
	</head>
	<body>
        <Header />

        <h2>{pageTitle}</h2>
            
        <p>喜欢语言，也许是因为碎片容易咀嚼</p>
            
        

        <script>
            import '../scripts/menu.js';
          </script>
	</body>
</html>
